#root {
  color: red;
}

body{
  background-color: lightgrey;
}
#card{
  width: 20vw;
  /* height: 80vh; */
  background-color: white;
  border: solid 0.1px white;
  border-radius: 8px;
}
h3{
  border: solid 1px black;
  border-radius: 5px;
  padding: 1vw;
  text-align: center;
}
p,img{
  margin: 0.8vw;
  text-align: center;
}
